[submodule "external/SPIR-V"]
	path = external/SPIR-V
	url = https://github.com/LukasBanana/SPIRV-Headers.git
[submodule "src/Compiler/Backend/PS5"]
	path = src/Compiler/Backend/PS5
	url = https://github.com/BearishSun/B3DShaderCompiler-PS5.git
